<div class="container">
  <div class="col-lg-6">
    <p><a class="btn btn-secondary" href="/userlogin" role="button">SignIn </a></p>
  </div>
  <div class="col-lg-6">

    <p><a class="btn btn-secondary" href="/usersignup" role="button">SignUp</a></p>
  </div>
</div>